body{
    background-color: rgb(65, 65, 65);;
    color: white;
}
header{
    background-color: springgreen;
    color: black;
    text-align: center;
    font-family:sans-serif;
    padding: 5px;
    border: 3px solid white;
    font-size: 40px;
    }
.box{

    text-align: center;
    margin: 15px;
    padding: 2px;
    font-size: 25px;
    font-family:sans-serif;
    color: black;
    border: solid 2px white;
    }

h1#progress{
    color: white;
    text-align: center;
    font-size: 100px;
    padding-top: 250px;
    letter-spacing: 10px;
}